@charset "UTF-8";
@font-face {
  font-family: "roboto-regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/roboto/roboto-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-regular.woff2") format("woff2"), url("../fonts/roboto/roboto-regular.woff") format("woff"), url("../fonts/roboto/roboto-regular.ttf") format("truetype"), url("../fonts/roboto/roboto-regular.svg#roboto-regular") format("svg");
}

@font-face {
  font-family: "roboto-bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/roboto/roboto-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-bold.woff2") format("woff2"), url("../fonts/roboto/roboto-bold.woff") format("woff"), url("../fonts/roboto/roboto-bold.ttf") format("truetype"), url("../fonts/roboto/roboto-bold.svg#roboto-bold") format("svg");
}

@font-face {
  font-family: "playfairdisplay-regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/playfairdisplay_regular/playfairdisplay-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/playfairdisplay_regular/playfairdisplay-regular.woff2") format("woff2"), url("../fonts/playfairdisplay_regular/playfairdisplay-regular.woff") format("woff"), url("../fonts/playfairdisplay_regular/playfairdisplay-regular.ttf") format("truetype"), url("../fonts/playfairdisplay_regular/playfairdisplay-regular.svg#playfairdisplay-regular") format("svg");
}

@font-face {
  font-family: "playfairdisplay-bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/playfairdisplay_regular/playfairdisplay-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/playfairdisplay_regular/playfairdisplay-bold.woff2") format("woff2"), url("../fonts/playfairdisplay_regular/playfairdisplay-bold.woff") format("woff"), url("../fonts/playfairdisplay_regular/playfairdisplay-bold.ttf") format("truetype"), url("../fonts/playfairdisplay_regular/playfairdisplay-bold.svg#playfairdisplay-bold") format("svg");
}

@font-face {
  font-family: "opensans-regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/open_sans/opensans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open_sans/opensans-regular.woff2") format("woff2"), url("../fonts/open_sans/opensans-regular.woff") format("woff"), url("../fonts/open_sans/opensans-regular.ttf") format("truetype"), url("../fonts/open_sans/opensans-regular.svg#opensans-regular") format("svg");
}

@font-face {
  font-family: "opensans-bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/open_sans/opensans-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/open_sans/opensans-bold.woff2") format("woff2"), url("../fonts/open_sans/opensans-bold.woff") format("woff"), url("../fonts/open_sans/opensans-bold.ttf") format("truetype"), url("../fonts/open_sans/opensans-bold.svg#opensans-bold") format("svg");
}

@font-face {
  font-family: "opensans-semibold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/open_sans/opensans-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/open_sans/opensans-semibold.woff2") format("woff2"), url("../fonts/open_sans/opensans-semibold.woff") format("woff"), url("../fonts/open_sans/opensans-semibold.ttf") format("truetype"), url("../fonts/open_sans/opensans-semibold.svg#opensans-semibold") format("svg");
}

ul {
  margin: 0;
}

.top-line {
  margin: 0 0px;
  background-color: #DFDEDC;
  background-image: url("../img/main_fon2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-img {
  padding: 0 0;
}

.logo-img img {
  width: 100%;
  margin-bottom: 10px;
}

.logo-text h1 {
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  font: bold 2.8em 'roboto-bold', sans-serif;
  font-weight: 900;
  text-shadow: 1px 0px 1px #000, -1px 0px 1px #000, 0px 1px 1px #000, 0px -1px 1px #000;
  color: #393D4E;
}

.red {
  color: #F41E11;
}

.search {
  float: right;
  padding: 10px 15px;
}

.icon-search {
  width: 18px;
}

.social {
  float: right;
  padding: 0px 20px;
  padding-bottom: 10px;
}

.social a {
  display: inline-block;
  text-decoration: none;
  width: 34px;
  height: 32px;
  background-image: url("../img/social_icon.png");
  background-size: 176px 34px;
  background-position: -36px -1px;
  background-repeat: no-repeat;
}

#fb {
  background-position: -36px -1px;
}

#inst {
  background-position: -70px -1px;
}

#tw {
  background-position: -106px -1px;
}

#vk {
  background-position: -1px -1px;
}

#youtube {
  background-position: -140px -1px;
}

.carousel-inner img {
  width: 100%;
}

.navbar {
  margin: 0 !important;
}

/* menu navigation begin */
/* цвет фона и рамки навигационного меню */
.navbar-default {
  background-color: #393D4E;
  border-color: #1D1D2A;
  -webkit-border-radius: 0;
          border-radius: 0;
}

/* цвет текста, содержащий название сайта или бренда */
.navbar-default .navbar-brand {
  color: white;
}

.icon-home {
  width: 30px;
  height: 30px;
  display: block;
  background-image: url("../img/icon_home.png");
  background-size: 30px;
  background-repeat: no-repeat;
}

.icon-home:hover {
  background-image: url("../img/icon_home_lightblue.png");
  background-size: 31px;
  background-repeat: no-repeat;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: lightblue;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: lightblue;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #727687;
}

.navbar-default .navbar-nav > .active > a:hover {
  color: lightblue;
  background-color: #727687;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: lightblue;
  background-color: #727687;
}

.navbar-default .navbar-toggle {
  border-color: white;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #727687;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-nav .open .dropdown-menu {
  background-color: #727687;
}

.navbar-default .navbar-nav .open .dropdown-menu > li :focus {
  background-color: transparent;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: white;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #393D4E;
}

.bottom-line {
  height: 20px;
  background-color: #393D4E;
}

.title img {
  width: 100%;
}

.footer {
  padding: 20px;
  background-color: #292D3E;
  color: white;
}

.footer ul li {
  display: inline-block;
  padding-left: 20px;
}

.footer ul li a {
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.copyright {
  background-color: #606475;
  text-align: center;
  color: white;
  font-size: 20px;
}

/* Block of MEDIA queries */
@media screen and (max-width: 1199px) {
  .logo-text {
    padding-top: 3%;
  }
  .logo-text h1 {
    font-size: 45px;
  }
}

@media screen and (min-width: 1199px) {
  .search {
    margin-top: 10%;
  }
}

@media screen and (max-width: 990px) {
  .logo-text {
    padding-top: 0;
  }
  .logo-text h1 {
    font-size: 55px;
  }
  .search-social {
    margin-bottom: 2%;
  }
}

@media screen and (max-width: 530px) {
  .logo-text {
    padding-top: 0;
  }
  .logo-text h1 {
    font-size: 40px;
    margin-top: 0;
  }
}

@media screen and (max-width: 405px) {
  .logo-text {
    padding-top: 0;
  }
  .logo-text h1 {
    font-size: 30px;
  }
}

/* Block of MEDIA queries END */
