.top-line {
  margin: 0 -15px;
  height: 100px;
  background-image: url("../img/mainImg.jpg");
  background-position: center 0;
}

.top-line .row {
  margin: 0 0;
}

.logo-bord {
  padding: 0 0;
}

.logo {
  height: 100px;
  background-image: url("../img/mainImg.jpg");
  background-position: center 0;
}

.search-social {
  padding: 0;
  background-color: #E9E9E9;
}

.search {
  float: right;
  padding: 10px 15px;
}

.social {
  float: right;
  padding: 0px 20px;
  padding-bottom: 10px;
}

.social a {
  display: inline-block;
  text-decoration: none;
  width: 34px;
  height: 32px;
  background-image: url("../img/social_icon.png");
  background-size: 176px 34px;
  background-position: -36px -1px;
  background-repeat: no-repeat;
}

#fb {
  background-position: -36px -1px;
}

#inst {
  background-position: -70px -1px;
}

#tw {
  background-position: -106px -1px;
}

#vk {
  background-position: -1px -1px;
}

#youtube {
  background-position: -140px -1px;
}

.navbar {
  margin: 0;
  background-color: #9848FC;
}

.navbar a {
  color: #FFFFFF;
}

.navbar a:hover {
  background-color: #6806CD;
}

.navbar-custom {
  font-size: 1.3em;
}

.navbar-custom a:hover {
  background-color: #6806CD;
}

.navbar-brand {
  font-size: 1.6em;
}

.nav a:hover {
  background-color: #6806CD;
}

.dropdown a:hover {
  background-color: #6806CD;
}
