@charset "UTF-8";
.top-line {
  margin: 0 -15px;
  background-color: #DFDEDC;
  background-image: url("../img/main_fon2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.top-line .row {
  margin: 0 0;
}

.logo-img-wrap {
  padding: 0 0;
}

.logo-img {
  padding: 0 0;
}

.logo-img img {
  width: 100%;
  margin-bottom: 10px;
}

.logo-text h1 {
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  font: bold 2.8em 'Kurale', serif;
  font-weight: 900;
  text-shadow: 1px 1px 4px #000;
  color: #545869;
}

.logo-text h1 span {
  color: #FB1F14;
}

.search-social {
  padding: 0;
}

.search {
  float: right;
  padding: 10px 15px;
}

.icon-search {
  width: 18px;
}

.social {
  float: right;
  padding: 0px 20px;
  padding-bottom: 10px;
}

.social a {
  display: inline-block;
  text-decoration: none;
  width: 34px;
  height: 32px;
  background-image: url("../img/social_icon.png");
  background-size: 176px 34px;
  background-position: -36px -1px;
  background-repeat: no-repeat;
}

#fb {
  background-position: -36px -1px;
}

#inst {
  background-position: -70px -1px;
}

#tw {
  background-position: -106px -1px;
}

#vk {
  background-position: -1px -1px;
}

#youtube {
  background-position: -140px -1px;
}

.carousel-inner img {
  width: 100%;
}

.title img {
  width: 100%;
}

/* menu navigation begin */
/* цвет фона и рамки навигационного меню */
.navbar-default {
  background-color: #393D4E;
  border-color: #1D1D2A;
  -webkit-border-radius: 0;
          border-radius: 0;
}

/* цвет текста, содержащий название сайта или бренда */
.navbar-default .navbar-brand {
  color: white;
}

.icon-home {
  width: 30px;
  height: 30px;
  display: block;
  background-image: url("../img/icon_home.png");
  background-size: 30px;
  background-repeat: no-repeat;
}

.icon-home:hover {
  background-image: url("../img/icon_home_lightblue.png");
  background-size: 31px;
  background-repeat: no-repeat;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: lightblue;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: lightblue;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #727687;
}

.navbar-default .navbar-nav > .active > a:hover {
  color: lightblue;
  background-color: #727687;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: lightblue;
  background-color: #727687;
}

.navbar-default .navbar-toggle {
  border-color: white;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #727687;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-nav .open .dropdown-menu {
  background-color: #727687;
}

.navbar-default .navbar-nav .open .dropdown-menu > li :focus {
  background-color: transparent;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: white;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #393D4E;
}

/* Block of MEDIA queries */
@media screen and (max-width: 1199px) {
  .logo-text {
    padding-top: 7%;
  }
  .logo-text h1 {
    font-size: 2.7em;
  }
}

@media screen and (min-width: 1199px) {
  .search-social {
    padding-top: 2%;
  }
}

@media screen and (max-width: 990px) {
  .logo-text {
    padding-top: 0;
  }
  .logo-text h1 {
    font-size: 4em;
  }
  .search-social {
    margin-bottom: 2%;
  }
}

@media screen and (max-width: 530px) {
  .logo-text {
    padding-top: 0;
  }
  .logo-text h1 {
    font-size: 3em;
    margin-top: 0;
  }
}

@media screen and (max-width: 405px) {
  .logo-text {
    padding-top: 0;
  }
  .logo-text h1 {
    font-size: 2.5em;
  }
}

/* Block of MEDIA queries END */
footer {
  padding: 20px;
  background-color: #292D3E;
  color: white;
}

footer ul li {
  display: inline-block;
  padding-left: 20px;
}

footer ul li a {
  font-size: 1.5em;
  color: white;
  text-decoration: none;
}

.copyright {
  background-color: #606475;
  text-align: center;
  color: white;
  font-size: 1.6em;
}
