
.top-line
	// margin: 0 -15px
	// height: 100px
	// background-image: url("../img/mainImg.jpg")
	// background-position: center 0
	.row
		margin: 0 0

.logo-bord
	padding: 0 0

.logo
	img
		width: 100%
		margin-bottom: 10px
	// height: 150px
	// background-image: url("../img/logo2.png")
	// background-size: 100%
	// background-position: left top
	// background-repeat: no-repeat

.logo-text
	h1
		text-align: center
		text-transform: uppercase
		padding-top: 10px
		font: bold 2.5em "Gabriela", serif 
		text-shadow: 1px 1px 6px
		color: #260F70
		span
			color: #FB1F14

.search-social
	padding: 0
	
.search
	float: right
	padding: 10px 15px

.social
	float: right
	padding: 0px 20px
	padding-bottom: 10px
	a
		display: inline-block
		text-decoration: none
		width: 34px
		height: 32px
		background-image: url("../img/social_icon.png")
		background-size: 176px 34px
		background-position: -36px -1px
		background-repeat: no-repeat


#fb
	background-position: -36px -1px

#inst
	background-position: -70px -1px

#tw
	background-position: -106px -1px

#vk
	background-position: -1px -1px

#youtube
	background-position: -140px -1px

.title
	img
		width: 100%

/* menu navigation begin */

.navbar-default 
  background-color: #393D4E
  border-color: #1D1D2A
  border-radius: 0

.navbar-default .navbar-brand
	color: white

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus
	color: lightblue

.navbar-default .navbar-nav > li > a
	color: white

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus
	color: lightblue

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus
	color: white
	background-color: #727687

.navbar-default .navbar-nav > .active > a:hover
	color: lightblue
	background-color: #727687

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus
	color: lightblue
	background-color: #727687

.navbar-default .navbar-toggle
	border-color: white

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus
	background-color: #727687

.navbar-default .navbar-toggle .icon-bar
	background-color: white

.navbar-default .navbar-nav .open .dropdown-menu
	background-color: #727687

.navbar-default .navbar-nav .open .dropdown-menu > li :focus
	background-color: transparent

.navbar-default .navbar-nav .open .dropdown-menu > li > a 
	color: white

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover
	color: #393D4E
  



footer
	padding: 20px
	background-color: #292D3E
	color: white
	ul
		li
			display: inline-block
			padding-left: 20px
			a
				font-size: 1.5em
				color: white
				text-decoration: none

.copyright
		background-color: #606475
		text-align: center
		color: white
		font-size: 1.6em